@charset "utf-8";

// core project
@import './core/core';

// components
@import './components/header';
@import './components/users';
@import './components/profile';
@import './components/activities';

// utils
@import './utils/load';

.box {
  background-color: $white;
  border-radius: 8px;
  height: 386px;
  overflow-y: scroll;
  width: 300px;
  margin: ($gutter * 8) ($gutter * 3) 0 0;
  padding: $gutter;
}
