@charset "utf-8";

$gutter: 8px;
$white: #fff;
$polar: #f0f8fc;
$geyser: #D7DBE7;

body {
  background-color: lightgreen;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $geyser;
}

::-webkit-scrollbar-thumb:hover {
  background: $geyser;
}

.box {
  background-color: $white;
  border-radius: 8px;
  height: 386px;
  overflow-y: scroll;
  width: 300px;
  margin: ($gutter * 3) ($gutter * 3) 0 0;

}

.users {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__info {
    align-items: center;
    display: flex;
  }

  &__image {
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }

  &__name {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: $gutter / 2;
    padding: $gutter / 2;
    transition: color .5s ease;

    &:hover {
      background-color: $polar;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 944px;
  padding: 0 40px;
  width: 100%;
}
