//colors
// All colors are named by the use of this tool
// http://chir.ag/projects/name-that-color/

$polar: #f0f8fc;
$geyser: #d7dbe7;
$regent-gray: #8a94a6;
$biscay: #16325c;
$tarawera: #084059;

$white: #fff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$green: #008827 !default;
$primary: #00a1e0 !default;
$red: #c00 !default;
$success: $green !default;
$danger: $red !default;
$light-blue: #7ed0ee !default;
