$backgroundImage: 'https://www.bing.com/th?id=OHR.TheBroads_ROW9507534557_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp';

html,
body {
  background-color: $white;
  font-family: $segoe-UI-semibold;
  overflow-x: hidden;
}

body {
  background-image: url($backgroundImage);
  height: 100%;
  position: absolute;
  width: 100%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 944px;
  padding: 0 40px;
  width: 100%;

}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $geyser;
}

::-webkit-scrollbar-thumb:hover {
  background: $geyser;
}

@include mobile {
  .container {
    max-width: 320px;
  }
}
