@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('../../fonts/Segoe-UI.eot') format('eot'),
  local('../../fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
  local('../../fonts/Segoe-UI.svg#consul') format('svg'),
  local('../../fonts/Segoe-UI.ttf') format('truetype'),
  local('../../fonts/Segoe-UI.woff') format('woff'),
  local('../../fonts/Segoe-UI.woff2') format('woff2');
}

@font-face {
  font-family: 'Segoe UI Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('../../fonts/Segoe-UI.eot') format('eot'),
    local('../../fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
    local('../../fonts/Segoe-UI.svg#consul') format('svg'),
    local('../../fonts/Segoe-UI.ttf') format('truetype'),
    local('../../fonts/Segoe-UI.woff') format('woff'),
    local('../../fonts/Segoe-UI.woff2') format('woff2');
}

$segoe-UI: 'Segoe UI Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$segoe-UI-semibold: 'Segoe UI Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
