.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    text-align: center;

    &-item {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }

  &__name {
    @include font-size(16);
    font-weight: $bold;
    text-align: center;

    &-subtitle {
      @include font-size(12);
      color: $regent-gray;
      display: block;
    }
  }

  &__balance {
    @include font-size(12);
    align-items: center;
    border-bottom: 1px solid $geyser;
    border-top: 1px solid $geyser;
    color: $regent-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: ($gutter * 3) 0;
    padding: ($gutter * 3) 0;
    width: 100%;


    &-info {
      @include font-size(16);
      color: $biscay;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__level {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__timeline {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      top: 6px;
      height: 2px;
      background-color: $cadet-blue;
    }

    &-progress {
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $regent-gray;
      display: inline-block;
      height: 11px;
      position: relative;
      width: 11px;
    }
  }
}
