.users {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__title {
    @include font-size(13);
    display: flex;
    justify-content: space-between;
    margin-bottom: $gutter;

    &-image {
      width: 100%;
      margin-left: $gutter;
    }
  }

  &__pos {
    @include font-size(13);
    margin-right: $gutter;
    width: 12px;
  }

  &__info {
    align-items: center;
    border-radius: $gutter;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: $polar;
    }
  }

  &__image {
    align-items: center;
    display: flex;
    padding: ($gutter / 3) 0;
    margin-left: $gutter * 2;
    width: 100%;

    img,
    svg {
      border-radius: 50%;
      height: 24px;
      width: 24px;
    }
  }

  &__name {
    @include font-size(13);
    cursor: pointer;
    margin: 5px;
    transition: color .5s ease;
  }

  &__points {
    @include font-size(13);
    text-align: center;
  }
}


@include mobile {
  .users {
    flex-direction: column;
  }
}
